.Div {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
}
.Button1 {
  background-color: #ffc045;
  border: none;
  padding: 5px;
}
#buttonParagraph {
  color: #714e21;
  font-weight: 900;
  font-size: 3vw;
}
