.Div {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.Button1 {
  background-color: #ffc045;
  border: none;
  padding: 10px;
}
#buttonParagraph {
  color: #714e21;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0px;
}
@media (max-width: 700px) {
  #buttonParagraph {
    font-size: 12px;
  }
}
