.Heading1 {
  color: #3d2514;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 3.5vw;
}
@media (max-width: 800px) {
  .Heading1 {
    font-size: 5vw;
  }
  @media (max-width: 600px) {
    .Heading1 {
      font-size: 6vw;
    }
  }
}
.Div {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.Button1 {
  background-color: #ffc045;
  border: none;
  padding-bottom: 0px;
  padding-top: 0px;
  border-radius: 5px;
}
#buttonParagraph {
  color: #714e21;
  font-weight: bolder;
}
#paragraphOne {
  margin-top: 0%;
  text-align: center;
}
.Grid1 {
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
  background-color: red;
  width: 100vw;
  height: 50vh;
}
.divGrid {
  background-color: yellow;
  width: 40%;
  border-radius: 50px;
}
.Grid2 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.child {
  background-color: green;
  border-radius: 50px;
  height: 47%;
  width: 100%;
}
.cardDiv {
  text-align: center;
  width: 30vw;
  height: 40vh;
  margin: 0 auto;
  margin-bottom: 200px;
}
.imgDiv {
  background-color: yellow;
  width: 100%;
  height: 70%;
}
.cardButton {
  background-color: red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid red;
}
#buttonParagraph {
  font-size: large;
  color: white;
  margin: 0 auto;
}
h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
}
p {
  margin-top: 3px;
  text-align: center;
}
.cardContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
